
STT5100-OLS_files/.DS_Store
.DS_Store
base_devoir_1.RData
STT5100-OLS.md
STT5100-OLS_files/figure-html/unnamed-chunk-10-1.png
STT5100-OLS_files/figure-html/unnamed-chunk-12-1.png
STT5100-OLS_files/figure-html/unnamed-chunk-14-1.png
STT5100-OLS_files/figure-html/unnamed-chunk-16-1.png
STT5100-OLS_files/figure-html/unnamed-chunk-2-1.png
STT5100-OLS_files/figure-html/unnamed-chunk-3-1.png
STT5100-OLS_files/figure-html/unnamed-chunk-4-1.png
STT5100-OLS_files/figure-html/unnamed-chunk-7-1.png
STT5100-OLS_files/figure-html/unnamed-chunk-8-1.png
